.thumb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0.2rem;
    margin: 0.3rem;
    border: 1px solid #efefef;
    border-radius: 2rem;
    min-width: 160px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  }
    
    
  h3 {
    margin-bottom: 0.2rem;
  }
    
  .thumb-container .number {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
    
  .thumb-container img {
    width: 120px;
    height: 120px;
  }
    
  .thumb-container small {
    text-transform: capitalize;
  }
    
  .detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
    
  .detail-wrapper button {
    color: rgb(22, 22, 22);
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.185);
  }

  .pokeinfo {
    margin: 0 25px;
    font-family: "Satisfy", cursive;
    background-image: linear-gradient(
      180deg, #2af598 0%, #66e6c6 100%);
  }
    
  .pokeinfo:hover {
     background-image: linear-gradient(
      -20deg,
      #ddd6f3 0%,
      #f8d3d1 100%,
      #faaca8 100%
    );
  }
    
  h3 {
    text-decoration: underline;
  }